<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="MusicInfoCompletion.WindowsClient"/>
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target type="WPFLogTarget" name="WPFLogTarget" layout="${longdate} [${level}] : ${message} ${exception:format=tostring}"/>

    <target xsi:type="AsyncWrapper" name="AsyncFile" queueLimit="20000" overflowAction="Block">
      <target xsi:type="File"
              encoding="utf-8"
              name="File"
              openFileCacheTimeout="60"
              keepFileOpen="true"
              layout="${longdate} [${level}] : ${message} ${exception:format=tostring}"
              archiveAboveSize="2000000"
              fileName="${basedir}/Logs/MusicInfoCompletion.WindowsClient.log"
              archiveFileName="${basedir}/Logs/MusicInfoCompletion.WindowsClient_{#}.log"
              archiveDateFormat="yyyyMMdd"
              archiveNumbering="DateAndSequence"
              maxArchiveFiles="5"
              concurrentWrites="true" />
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="WPFLogTarget" />
    <logger name="*" minlevel="Warn" writeTo="AsyncFile" />
  </rules>
</nlog>